In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os

In [11]:
def load_df(filename):
    print("#" * 25)
    print(f"CARGANDO DF")
    
    with open(filename, "r") as f:
        lines = f.readlines()
    M, T2, T3, T4 = list(map(int, lines[0].strip().split(" ")))
    
    pizza_id = 0
    
    df = pd.DataFrame()
    
    raw_data = []
    for line_ix in tqdm(range(1, len(lines))):
        tokens = list(map(str, lines[line_ix].strip().split(" ")))
        n_ing = int(tokens[0])
        ing = tokens[1:]
        this_id_pizza = pizza_id
        pizza_id += 1
        
        data = {}
        data["pizza_id"]=this_id_pizza
        data["n_ing"]=n_ing
    
        for i in ing:
            data[i] = 1
            
        raw_data.append(data)
    
    df = df.append(raw_data, ignore_index=True)
       
    df = df.set_index("pizza_id")
    df = df.fillna(0)
    
    print("DF cargado")
    return M, T2, T3, T4, df

In [34]:
M, T2, T3, T4, df=load_df("a_example.in")

100%|██████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 4999.17it/s]

#########################
CARGANDO DF
DF cargado

In [35]:
df.head()

          n_ing  onion  pepper  olive  mushroom  tomato  basil  chicken
pizza_id
0             3    1.0     1.0    1.0       0.0     0.0    0.0      0.0
1             3    0.0     0.0    0.0       1.0     1.0    1.0      0.0
2             3    0.0     1.0    0.0       1.0     0.0    0.0      1.0
3             3    0.0     0.0    0.0       1.0     1.0    1.0      0.0
4             2    0.0     0.0    0.0       0.0     0.0    1.0      1.0

In [44]:
abs(df.iloc[:,1:]-1)

          onion  pepper  olive  mushroom  tomato  basil  chicken
pizza_id
0           0.0     0.0    0.0       1.0     1.0    1.0      1.0
1           1.0     1.0    1.0       0.0     0.0    0.0      1.0
2           1.0     0.0    1.0       0.0     1.0    1.0      0.0
3           1.0     1.0    1.0       0.0     0.0    0.0      1.0
4           1.0     1.0    1.0       1.0     1.0    0.0      0.0

In [33]:
# df.loc[0,:]==0
[i for i, x in enumerate(df.loc[0,:]) if not x]

[4, 5, 6, 7]

In [26]:
df.loc[0,:]

n_ing       3.0
onion       1.0
pepper      1.0
olive       1.0
mushroom    0.0
tomato      0.0
basil       0.0
chicken     0.0
Name: 0, dtype: float64

In [ ]:
def best_pizza(ing_list, df_pizzas):
    for i

In [9]:
def solver(M, T2, T3, T4, df):
    print(f"RESOLVIENDO")
#     print(M, T2*2 + T3*3 + T4*4)
    df_sorted=df.sort_values(by=["n_ing"], ascending=False)
    indexes = list(df_sorted.index)
    resol = []
    print("procesando equipos de 4")
    for i in tqdm(range(0, T4)):
        if len(indexes) < 4:
            break
        this_resol = [4, indexes.pop(0),indexes.pop(0),indexes.pop(0),indexes.pop(0)]
        resol.append(this_resol)
    
    
    print("procesando equipos de 3")
    for i in tqdm(range(0, T3)):
        if len(indexes) < 3:
            break
        this_resol = [3, indexes.pop(0),indexes.pop(0),indexes.pop(0)]
        resol.append(this_resol)
        
    
    print("procesando equipos de 2")
    for i in tqdm(range(0, T2)):
        if len(indexes) < 2:
            break
        this_resol = [2, indexes.pop(0),indexes.pop(0)]
        resol.append(this_resol)
        
    print("PROCESADO COMPLETADO")
    return resol

In [8]:
def output_funct(s, filename):
    print("ESCRIBIENDO A FICHERO")
    with open(filename, "w") as the_file:
        the_file.write(f"{len(s)} \n")
        for team in s:
            the_file.write(f"{' '.join([str(aint) for aint in team])} \n")

In [10]:
for FILE  in os.listdir("."):
    if not FILE.endswith(".in"):
        continue
        
    print(f"PROCESANDO FICHERO -> {FILE}")
        
    M, T2, T3, T4, df=load_df(FILE)
    s = solver(M, T2, T3, T4, df)
    output_funct(s, f"{FILE}.out")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<?, ?it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1005.83it/s]
  0%|                                                                                            | 0/2 [00:00<?, ?it/s]
  0%|                                                                                            | 0/1 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████| 500/500 [00:00<00:00, 125046.33it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 60/60 [00:00<00:00, 60047.30it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 60/60 [00:00<00:00, 29987.87it/s]
 62%|████████████████████████████████████████████████▌                              | 40/65 [00:00<00:00, 40041.09it/s]
  0%|                                                                                        | 0/10000 [00:00<?, ?it/s]

PROCESANDO FICHERO -> a_example.in
#########################
CARGANDO DF
DF cargado
RESOLVIENDO
procesando equipos de 4
procesando equipos de 3
procesando equipos de 2
PROCESADO COMPLETADO
ESCRIBIENDO A FICHERO
PROCESANDO FICHERO -> b_little_bit_of_everything.in
#########################
CARGANDO DF
DF cargado
RESOLVIENDO
procesando equipos de 4
procesando equipos de 3
procesando equipos de 2
PROCESADO COMPLETADO
ESCRIBIENDO A FICHERO
PROCESANDO FICHERO -> c_many_ingredients.in
#########################
CARGANDO DF

100%|█████████████████████████████████████████████████████████████████████████| 10000/10000 [00:00<00:00, 26969.53it/s]

DF cargado
RESOLVIENDO

100%|█████████████████████████████████████████████████████████████████████████████| 585/585 [00:00<00:00, 65059.87it/s]
100%|█████████████████████████████████████████████████████████████████████████████| 539/539 [00:00<00:00, 76848.52it/s]
100%|████████████████████████████████████████████████████████████████████████████| 504/504 [00:00<00:00, 126084.29it/s]
  0%|                                                                                       | 0/100000 [00:00<?, ?it/s]

procesando equipos de 4
procesando equipos de 3
procesando equipos de 2
PROCESADO COMPLETADO
ESCRIBIENDO A FICHERO
PROCESANDO FICHERO -> d_many_pizzas.in
#########################
CARGANDO DF

100%|██████████████████████████████████████████████████████████████████████| 100000/100000 [00:00<00:00, 253952.14it/s]

DF cargado
RESOLVIENDO

 20%|███████████████▍                                                             | 549/2742 [00:00<00:00, 5438.82it/s]

procesando equipos de 4

100%|████████████████████████████████████████████████████████████████████████████| 2742/2742 [00:00<00:00, 5542.57it/s]
 21%|████████████████▌                                                            | 787/3661 [00:00<00:00, 7796.33it/s]

procesando equipos de 3

100%|████████████████████████████████████████████████████████████████████████████| 3661/3661 [00:00<00:00, 8140.17it/s]
100%|███████████████████████████████████████████████████████████████████████████| 1696/1696 [00:00<00:00, 15712.51it/s]
  0%|                                                                                       | 0/100000 [00:00<?, ?it/s]

procesando equipos de 2
PROCESADO COMPLETADO
ESCRIBIENDO A FICHERO
PROCESANDO FICHERO -> e_many_teams.in
#########################
CARGANDO DF

100%|██████████████████████████████████████████████████████████████████████| 100000/100000 [00:00<00:00, 253807.69it/s]
  0%|                                                                                        | 0/29832 [00:00<?, ?it/s]

DF cargado
RESOLVIENDO
procesando equipos de 4

 84%|█████████████████████████████████████████████████████████████▏           | 25000/29832 [00:02<00:00, 12189.50it/s]
  0%|                                                                                        | 0/49195 [00:00<?, ?it/s]
  0%|                                                                                        | 0/39748 [00:00<?, ?it/s]

procesando equipos de 3
procesando equipos de 2
PROCESADO COMPLETADO
ESCRIBIENDO A FICHERO